<a href="https://colab.research.google.com/github/Jonathan-Ongko/Computing/blob/main/SIMPLE_NAME_BOT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# Data types
# str = string = to write/keep text
print ("hello 8c")
# numeric types: integer (int), float (for decimals)
print ("8.5")

hello 8c
8.5

In [6]:
# math operator + - / % * addition, substraction, division, and multiplication
print ("8C+7C")

In [8]:
# VARIABLE + NAMING
# in python + case sensitive
# ways on write variable = u're not allowed to start with number
# not put space between
#8c = 20 ---> wrong
# eight c = 20  ---> wrong
fried_fish = 100
fried_fish = 99
fried_fish

In [ ]:
# input = determined the data type
name = input ("please type ypur name")
print ("name?")

In [ ]:
name = input ("type ur name here")
age = input ("type ur age here")
print ("hi", name, "you are ,", age," years old")